@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: Arges;
    src: url(../misc/AT\ Arges\ Black\ Condensed.otf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #ea612a;
    transition: 0.5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body, ul {
    margin: 0;
    padding: 0;
}

.izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dch {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.contenedor-intro-text {
    display: flex;
    flex-direction: column;
    width: 780px;
    height: 180px;
    letter-spacing: 2px;
}

.intro-text {
    margin-top: 4rem;
    margin-left: 3.5rem;
    margin-bottom: -1.5rem;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.intro-text-2 {
    margin-left: 3.5rem;
    margin-bottom: -1.5rem;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.intro-text-3 {
    margin-left: 17.5rem;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    color: black;
    margin-left: 31rem;
    margin-top: 10%;
}

.contenedor-exp {
    overflow-y: auto;
    flex-wrap: wrap;
    margin-top: 5rem;
    max-height: 50rem;
    margin-left: 5rem;
    width: 100vw;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch;
    max-height: 100vh;
    overflow-x: hidden;
}

.navbar-element {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: -2rem;
}

.navbar-a {
    font-family: Arges;
    color: black;
    text-decoration: none;
    font-size: 10rem; 
}

.contenedor-about {
    width: 370px;
    height: 45px;
    margin: auto;
    margin-top: 13%;
}

p {
    margin-bottom: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.enlacesInside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 36px;
    margin-left: 3.5rem;
    margin-bottom: 6%;

}

.enlacesContacto {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.enlacesInside :hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal de tu sitio web */
.content {
    /* Estilos para el contenido principal de tu sitio web */
    display: none;
    /* Ocultar el contenido hasta que la pantalla de carga desaparezca */
}

.mobile-h1 {
    display: none;
}

@media screen and (max-width: 767px) {
    body {
        background-color: #ea612a;
    }


    .navbar {
        display: none;
    }

    .preload-screen {
        display: none;
    }

    .mobile-h1 {
        display: flex;
        text-align: center;
        margin-top: 50%;
        font-weight: 500;
    }

    .contenedor-exp {display: none;}
    .about {display: none;}
    .contenedor-intro-text {display: none;}
    .enlacesInside {display: none;}
    .contenedor-about {display: none;}
}

.insta {
    font-weight: 200; 
    float: left;
    margin-left: -60%;
    transform: rotate(270deg);
    font-size: 1.2rem;
}