@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-image: url(back.jpeg);
    background-size:cover;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Negro con opacidad del 0.5 */
    z-index: 1; /* Asegura que la capa esté por encima de la imagen de fondo */
}

canvas {
    z-index: 2;
}

.back {
    font-family: "Inter", sans-serif;
    margin-left: 1%;
    position: absolute;
    color: white;
    text-decoration: none;
    top: 3.5rem;
    font-family: inter;
    font-size: 30px;
    font-weight:400;
    z-index: 3;
}

.next {
    font-family: "Inter", sans-serif;
    margin-left: 90%;
    position: absolute;
    text-decoration: none;
    color: white;
    top: 3.5rem;
    font-family: inter;
    font-size: 30px;
    font-weight:400;
    z-index: 3;
}