@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-around;
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight:500;
    font-family: "Inter", sans-serif;
}

.izq {
    
    text-align: end;
}

img {
    width: 50%;
    border: 1px solid black;
}

.dch {
    text-align: left;
    margin-right: 30%;
}

.music {
        position: absolute;
        z-index: 2;
        margin-top: 35%;
}